body{
    background: linear-gradient(to left, rgba(0, 179, 255, 0.74), rgba(18, 111, 204, 0.868), rgba(0, 102, 255, 0.963));
    text-align: center;
    font-size: 1.4rem;
    font-family: Tahoma;
    color: whitesmoke;
}

h1, h2{
    font-weight: bold;
}

input, select, button{
    background-color: black;
    color: white;
    font-size: 1.25rem;
    padding: 2px 4px;
    border-radius: 8px;
    text-align: center;
}
